.content {
    display: flex;
    flex-direction: row;   
    height: 100px;
    width: 100%;
}

.rank {
    margin-left: 50px;
    width: 50px;
}

.icon {
    border-radius: 15%; 
    height: 60px;
    width: 60px;
    margin-right: 20px;
}

.title {
    font-weight: bold;
    width: 290px;
    text-align: left;
}

.publisher {
    margin-right: 50px;
    width: 300px;
    text-align: left;
}

.appleDownloads {
    margin-right: 30px;
    width: 50px;
    text-align: left;
}

.googleDownloads {
    margin-right: 80px;
    width: 50px;
    text-align: left;
}

.revenue {
    margin-right: 60px;
    width: 50px;
    text-align: left;
}