.content {
    display: flex;
    flex-direction: row;   
    height: 70px;
    width: 100%;
    font-size: 16.5px;
    margin: auto;
}

.border {
    margin-left: 70px;
    margin-bottom: 10px;
    background: lightgray;
    height: 2px;
}

.rank {
    margin-left: 50px;
    width: 50px;
}

.icon {
    border-radius: 15%; 
    height: 60px;
    width: 60px;
    margin-right: 20px;
}

.title {
    font-weight: 650;
    width: 290px;
    text-align: left;
}

.publisher {
    margin-right: 50px;
    width: 300px;
    text-align: left;
}

.appleDownloads {
    margin-right: 30px;
    width: 50px;
    text-align: right;
}

.googleDownloads {
    margin-right: 80px;
    width: 50px;
    text-align: right;
}

.revenue {
    width: 50px;
    text-align: right;
}

.itunes {
    margin-left: 60px;
}