.menu {
    position: sticky;
    top: 0;
    width: 802px;
    background-color: white !important;
    margin: 0 auto;
    margin-bottom: 8px;
    z-index: 1;
}

.hBorder {
    background: lightgray;
    height: 1px;
}

.menuBox {
    display: flex;
    flex-direction: row;
    height: 70px;
    width: 800px;
    font-size: 16.5px;
    margin: 0 auto;
}

.hRank {
    margin-left: 20px;
    font-weight: bold;
}

.hTitle {
    margin-left: 20px;
    font-weight: bold;
}

.hPublisher {
    margin-left: 240px;
    font-weight: bold;
}

.downloads {
    display: flex;
    flex-direction: column;
    margin-left: 80px;
    font-weight: bold;
    width: 300px;
}

.downloadsBox {
    display: flex;
    flex-direction: row;
    margin-top: -20px;
    font-weight: bold;
}

.hAppleDownloads {
    width: 100px;
    margin-left: 80px;
    font-weight: bold;
}

.hGoogleDownloads {
    width: 150px;
    font-weight: bold;
}

.hRevenue {
    margin-left: 10px;
    margin-right: 45px;
    font-weight: bold;
}

.hLinks {
    font-weight: bold;
}